.App {
  text-align: center;
  background-color: #141821;
  color: #fff;
  padding: 1rem 1rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  height: 55px;
  width: 7rem;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 400ms;
  border-radius: 7px;
}

.auth:hover {
  background-color: red;
  cursor: pointer;
}

.user-img {
  height: 40vmin;
  border-radius: 50%;
  pointer-events: none;
  object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
